@import "tailwindcss";

:root {
  --background: #050914;
  --foreground: #ffffff;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  
  --color-industrial-gold: #FFC400;
  --color-void-blue: #050914;
  --color-holographic-white: #FFFFFF;
  
  --font-mono: var(--font-share-tech-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-share-tech-mono), monospace;
}
